@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0EA106;
  --color-base: #141414;
  --color-text: #f6f4f8;
  --font-base: "Mulish", Verdana, sans-serif;
  --cursor-grenade: url(/explosive-cursor.png), auto;
}

:root {
  font-family: var(--font-base);
  color-scheme: dark;
  background-color: var(--color-base);
  color: var(--color-text);
  cursor: url(/cursor.png), auto;
}

:root::selection {
  background-color: var(--color-primary);
  color: var(--color-text);
}

nav > ul > li > a.active {
  border-bottom: 0.125rem solid #d4d4d4;
}

footer > ul > li > a.active {
  background: #f2f0f4;
  border-bottom: 0.125rem solid #404040;
}